node_modules
dist
*.zip
.tmp
.sass-cache
bower_components
coverage
bin/esbe.settings
npm-debug.log

# Ignore custom config that is used for changing default constants.
config/custom.json

# IntelliJ
.idea
*.iml

# Eclipse
.project
.metadata

# Sublime
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# Mac
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
